.dashboard-productos{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-direction: column;    
    min-height: 100vh;

    .dash-buscador{
        width: 100%;
        display: flex;
        justify-content: center;
        input{
            color: black;
            width: 50%;
            padding: 1em;
            border-radius: 1em;
            background-color: #ababab;

            &:focus{
                outline: none !important;
            }
        }
    }

    
    
    .dashboard-productos-container{
        width: 80%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .noSeEncontro{
            margin-top: 2vw;
            font-size: 2vw;
        }
    }
}

.container-add{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 3.4em;
    margin-bottom: 2em;
    background-color: transparent;
    width: 5vw;
    z-index: 2;

    button{
        border-color: black;
        padding: 0.5em;
        font-size: 1em;
        border-radius: 10em;
        background-color: black;
        color: $color1;

        &:hover{
            cursor: pointer;
            color: black;
            background-color: $color1;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
    }

}


#navFiltroExtra{
    width: 100%;
    display: flex;
    justify-content: center;
    button{
        border-color: 1px solid black;
        margin: 1em;
        padding: 0.5em;
        border-radius: 2em;
        font-size: 1.2em;
        text-align: center;
        min-width: 8em;
        cursor: pointer;
        background-color: black;
        color:$color1;
        font-weight: 600;
        border: 1px solid transparent;
        transition: all 0.2s ease;
        &:hover{
        color: black;
        background-color: $color1;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }
    }
}