.status-compra-container{
    min-height: 65vh;
    margin-bottom: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    color: $color1;
    font-size: 2vw;
    @include screen_950{
        min-height: 80vh;
        margin-bottom: 8vw;
    }
    @include screen_720{
        font-size: 3vw;
    }
    @include screen_520{
        font-size: 4vw;
    }
    @include screen_380{
        font-size: 5vw;
    }
}